body {
  background-color: #f7f7f7;
  background-image: url(_img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 15px;
  color: blue;
}
p {
  font-style: bold;
  background: white;
  padding: 25px;
  margin: 10rem;
}